@import 'part/header';
@import 'style/normalize';

$colorRed:#ae2012;
$colorBlue:#005f73;
$colorBlack:#001219;
$colorWhite:#edf6f9;
$colorgreen:#0ead69;
// type font leatter 
@mixin  letter-To-pagrapht ($color){
    color: $color;
    font-family: 1.1rem;
}
@mixin caja {
    width: 50%;
    padding-bottom: 2rem;
    background-color: #d6e3e7;
}
@mixin tabla($color,$tcolor,$flex,$jutify) {
    padding: 1rem;
    margin-top: 5px;
    color: $color;
    background-color: $tcolor;
    border-radius: 12px;
    text-align: center;
    font-size: 2rem;
    display: $flex;
    flex-flow:  wrap;
    justify-content: $jutify;
    body.dark &{
        color: $colorWhite;
    }
}
@mixin titles {
    font-size: 2.5rem;
    color: $colorBlack;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@mixin titles-tabla($color) {
    font-size: 1.6rem;
    color: $color;
    text-align: center;
}
@mixin  tabla-plus-less($colorp) {
    color: $colorp;
    font-size: 1.8rem;
    width: 50%;
    height: auto;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,.2);
}


body{
    background-color: $colorWhite;
    color: $colorBlack;

    // dark mode active 
    transition: .5s ease all;
    &.dark{
        background-color: $colorBlack;
        color: $colorWhite;
    }
}
// -----boton truen on and tuen off 
.box{
    background-color: $colorBlack;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    // boton turn on 
    &::after{
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: $colorWhite;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all ;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background-color: orange;
        color: $colorBlack;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: $colorWhite;
    }

}
// ---------numeros panatalla 


.container-number{
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-row{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.conetnt-total{
    @include titles();
     body.dark &{
        color: $colorWhite;
    }
}

.table-results-e{
    @include tabla($colorBlack,$colorBlue,flex,space-around );
 
}
.table-results-i{
    @include tabla($colorBlack,$colorRed,flex,space-around );
}
.style-form{
@include tabla($colorBlack,transparent ,flex ,center );
@media (max-width: 850px){
    flex-flow:column wrap ;
}
input{
        border-radius: 12px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        outline: none;
    }
    select{border-radius: 50px;
        outline: none;
        border: none;
        option[value="ingreso"]{
            color: $colorgreen;
            font-weight: bold;
        }
        option[value="egreso"]{
            color: $colorRed;
            font-weight: bold;
        }
    }
    select:hover{outline: none; border: none;}
}
.add_button{
    background-color: transparent;
    border: none;
    color: $colorgreen;
    :active{
     color: #ae2012;
     padding: 4px;
    }
}
.ingresos-title{
    @include titles-tabla($colorBlue);
}
.container-ingresos{
    @include tabla-plus-less($colorBlue);
}
.container-Egresos{
    @include tabla-plus-less($colorRed);
}
.Egreso-title{
    @include titles-tabla($colorRed);
}

// -------tablas de ingresos agregados  
@mixin table-eg-ig {
    width: 80%;
    background-color: $colorWhite;
    display: flex;
    // flex-flow: column ;
    border-radius: 12px;
    justify-content: space-around;
    margin: 10px auto;
}
// bonton 
@mixin btn-hiden-show($color,$show){
    color: $color;
    border: none;
    display: $show;
    background-color: transparent;
}
// boton-blue ---- --------------------------------
.element-style{
    @include table-eg-ig();
    transition: .5s ease all;
    .btn-delte{  @include btn-hiden-show($colorBlue,none);}
}
.element-style:hover {background-color: rgba(240, 0, 0, 0.2);
body.dark &{color: $colorWhite;}
}
.element-style:hover .btn-delte{@include btn-hiden-show($colorBlue,block);}
// boton-delte ---------------------------------------------- 
.element-style-e{
    @include table-eg-ig();
    transition: .5s ease all;
    .btn-delte-e{  @include btn-hiden-show($colorRed,none);}
}
.element-style-e:hover {background-color: rgba(240, 0, 0, 0.2);
body.dark &{color: $colorWhite;}
}
.element-style-e:hover .btn-delte-e{@include btn-hiden-show($colorRed,block); }


